@charset "UTF-8";
:root {
  --border-color:#333333;
  --color-link:#056de8;
  --color-inverted:#fff;
  --color-background:#ffffff;
  --color-placeholder: #ccc;
  --even-row-background: #eeeeee59;
  --font-size:0.9rem;
  --font-family:-apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  --font-code-family:ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  --line-height:1.6;
  --font-bold:600;
  --element-actived-color:var(--color-link);
  --element-height:2.25em;
  --element-border-color:#999999;
  --element-border-right-color:#cccccc;
  --element-border-bottom-color:#cccccc;
  --element-border-radius:3px;
  --element-focus-border-color:var(--element-actived-color);
  --text-field-width: 15em;
  --element-disabled-color:#666666;
  --element-disabled-border-color:#999999;
  --element-disabled-backgroud-color:#cccccc;
  --fixed-header-zindex:2;
  --fixed-column-zindex:3;
  --table-cell-border-color:#cccccc;
  --panel-shadow:1px 3px 10px #aaaaaa82;
  --panel-radius: var(--element-border-radius);
  --icon-arrow-down: url("data:image/svg+xml;utf8,<svg t='1719296430104' class='icon' viewBox='0 0 1026 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='9610' width='200' height='200'><path d='M947.09025987 259.60869599c-21.52173955-19.56521777-54.78260888-17.60869599-74.34782579 1.95652178L512.7424332 648.95652177 152.7424332 261.56521778c-19.56521777-21.52173955-52.82608711-21.52173955-74.34782578-1.95652179-21.52173955 19.56521777-21.52173955 52.82608711-1.95652177 74.34782578L473.61199854 762.43478222c9.78260888 9.78260888 23.47826045 17.60869599 39.13043466 17.60869601 13.69565244 0 29.34782578-5.86956533 39.13043467-17.608696l397.17391289-428.47826046C968.61199854 312.43478222 968.61199854 279.17391289 947.09025987 259.60869599z' p-id='9611'></path></svg>");
}

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
  font-weight: normal;
}

html, body, fieldset, img, iframe, abbr {
  border: 0;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

[hidefocus], summary {
  outline: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, small {
  font-size: 1rem;
}

sup, sub {
  font-size: 83%;
}

pre, code, kbd, samp {
  font-family: inherit;
}

q:before, q:after {
  content: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

label, summary {
  cursor: default;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: var(--font-bold);
}

del, ins, u, s, a, a:hover {
  text-decoration: none;
}

html {
  background-color: var(--color-background);
  color: var(--border-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

a {
  color: var(--color-link);
}

code {
  font-style: italic;
  font-family: var(--font-code-family);
}

input:not([type=checkbox], [type=radio], [type=file]),
select,
textarea,
button,
[role=button],
.button {
  box-sizing: border-box;
  font-family: var(--font-family);
  height: var(--element-height);
  border: 1px solid var(--element-border-color);
  border-right-color: var(--element-border-right-color);
  border-bottom-color: var(--element-border-bottom-color);
  padding: 0 0.5em;
  font-size: 1rem;
  vertical-align: middle;
  border-radius: var(--element-border-radius);
  user-select: none;
  transition: all 0.1s linear;
}

textarea {
  padding: 0.25em 0.5em;
  min-height: calc(var(--element-height) * 2);
  width: calc(var(--text-field-width) * 1.5);
}

input[type=text],
input[type=search],
input[type=password],
input[type=url],
input[type=tel],
input[type=address],
input[type=number],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=month] {
  padding: 0 0.5em;
  min-width: var(--text-field-width);
}

::placeholder {
  color: var(--color-placeholder);
}

[disabled]::placeholder,
[readonly]::placeholder {
  color: transparent;
}

select {
  padding-left: 0.25em;
  width: var(--text-field-width);
}

select[readonly] {
  pointer-events: none;
}

select[multiple] {
  height: calc(var(--element-height) * 3);
  width: var(--text-field-width);
}

input[type=radio],
input[type=checkbox] {
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}

label input[type=radio],
label input[type=checkbox] {
  accent-color: var(--color-link);
}

label ~ label {
  margin-left: 0.5em;
}

select:focus,
input:focus,
textarea:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px #58a3fb, 0 0 0 4px #bbdafe;
}

button,
input[type=button],
input[type=submit],
input[type=reset],
[role=button],
.button {
  padding: 0 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-background);
  background-color: var(--color-link);
  border-color: transparent;
}

button:focus,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
[role=button]:focus,
.button:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--color-background), 0 0 0 3px #2687fa;
}

button[disabled],
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled],
[role=button][disabled],
.button[disabled],
.button-disabled {
  opacity: 0.5;
  filter: grayscale(80%);
  cursor: default;
  pointer-events: none;
}

body .button-large {
  font-size: 1.1rem;
  padding: 0 2em;
}

body .button-small {
  font-size: 0.8rem;
}

body .button-weak,
input[type=reset] {
  background-color: #58a3fb;
  color: var(--color-background);
}

body .button-outline {
  background-color: var(--color-background);
  color: var(--color-link);
  border: 1px solid var(--color-link);
}

body .button-plain {
  background-color: var(--color-background);
  color: var(--color-link);
  border-color: transparent;
}

body .button-plain:hover {
  border-color: var(--color-link);
}

.form-caption {
  font-size: 1.1rem;
  font-weight: var(--font-bold);
  margin: 0.5em 0;
}

table.form-table > tbody > tr:nth-child(even) {
  background-color: var(--even-row-background);
}
table.form-table > tbody > tr:has(td input) th {
  line-height: var(--element-height);
}
table.form-table > tbody > tr > th {
  padding: 0.5em;
  vertical-align: top;
}
table.form-table > tbody > tr > td {
  padding: 0.5em 0;
}

table.form-column {
  width: 100%;
}
table.form-column > tbody > tr > th {
  display: block;
  margin-bottom: 0.5em;
}
table.form-column > tbody > tr > td {
  display: block;
  margin-bottom: 1.5em;
}
table.form-column .form-submit-row td {
  display: flex;
  gap: 1em;
}
table.form-column .form-submit-row td > * {
  flex: 1;
}
table.form-column select,
table.form-column textarea,
table.form-column input[type=text],
table.form-column input[type=search],
table.form-column input[type=password],
table.form-column input[type=url],
table.form-column input[type=tel],
table.form-column input[type=address],
table.form-column input[type=number],
table.form-column input[type=time],
table.form-column input[type=date],
table.form-column input[type=datetime-local],
table.form-column input[type=month] {
  width: 100%;
}

.image-grid-background {
  --block-size:6px;
  background-position: 0px 0px, var(--block-size) var(--block-size);
  background-size: calc(var(--block-size) * 2) calc(var(--block-size) * 2);
  background-image: linear-gradient(45deg, #eeeeee 25%, transparent 25%, transparent 75%, #eeeeee 75%, #eeeeee 100%), linear-gradient(45deg, #eeeeee 25%, white 25%, white 75%, #eeeeee 75%, #eeeeee 100%);
}

.menu {
  display: none;
  position: absolute;
  padding: 0.5em 0;
  min-width: 8em;
  z-index: 2;
  background-color: var(--color-background);
  box-shadow: var(--panel-shadow);
  border-radius: var(--panel-radius);
}
.menu li.sep {
  border-top: 1px solid var(--table-cell-border-color);
  opacity: 0.5;
  margin: 0.25em 0.75em;
}
.menu a,
.menu span {
  display: block;
  color: var(--color);
  padding: 0.35em 1em;
  white-space: nowrap;
}
.menu a:hover,
.menu span:hover {
  background-color: #f7f7f7;
  text-shadow: 1px 1px 1px white;
}

.dropdown-list {
  --gap:1em;
  display: inline-flex;
}
.dropdown-list > li:before {
  content: "";
  height: 80%;
  border-left: 1px solid #cccccc;
  margin: 0 calc(var(--gap) * 0.5) 0 calc(var(--gap) * 0.5);
  display: inline-block;
  vertical-align: middle;
}
.dropdown-list > li:first-child:before {
  display: none;
}
.dropdown-list > li:has(ul) {
  padding-right: 0.5em;
  position: relative;
}
.dropdown-list > li:has(ul) span {
  cursor: default;
}
.dropdown-list > li:has(ul):after {
  content: "＞";
  opacity: 0.8;
  transform: rotate(90deg);
  position: absolute;
  display: inline-block;
  font-size: 1.3em;
  margin: -0.1em 0 0;
}
.dropdown-list > li:has(ul):hover ul {
  display: block;
}
.dropdown-list ul {
  display: none;
  position: absolute;
  padding: 0.5em 0;
  min-width: 8em;
  z-index: 2;
  background-color: var(--color-background);
  box-shadow: var(--panel-shadow);
  border-radius: var(--panel-radius);
}
.dropdown-list ul li.sep {
  border-top: 1px solid var(--table-cell-border-color);
  opacity: 0.5;
  margin: 0.25em 0.75em;
}
.dropdown-list ul a,
.dropdown-list ul span {
  display: block;
  color: var(--color);
  padding: 0.35em 1em;
  white-space: nowrap;
}
.dropdown-list ul a:hover,
.dropdown-list ul span:hover {
  background-color: #f7f7f7;
  text-shadow: 1px 1px 1px white;
}

.otp-inputs {
  --font-size:1.25rem;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-size: 1.25rem;
}
.otp-inputs input {
  font-size: inherit;
  width: 2em;
  padding: 0 0.5em;
  box-sizing: border-box;
  max-width: inherit;
  min-width: 0;
  text-align: center;
  font-weight: var(--font-bold);
  font-family: sans-serif !important;
}

.otp-inputs:has(input:nth-child(6)) input:nth-child(3) {
  margin-right: 1em;
}

.paginate {
  padding: 0.5em 0;
  display: inline-block;
}
.paginate > span,
.paginate > a {
  display: inline-block;
  margin: 0 0.5em;
  user-select: none;
}
.paginate > a {
  font-weight: bold;
}
.paginate .paginate-prev:before {
  content: "<";
}
.paginate .paginate-next:before {
  content: ">";
}
.paginate .paginate-dot:before {
  content: "···";
}
.paginate [data-target-page] {
  cursor: pointer;
  color: var(--color-link);
  font-weight: bold;
}
.paginate .paginate-size-changer {
  margin-left: 1em;
}
.paginate .paginate-size-changer select {
  border: none;
  padding: 0;
  background: none;
  margin-top: -0.2em;
}
.paginate .paginate-current {
  background-color: #eeeeee;
  display: inline-block;
  padding: 0 0.5em;
  color: gray !important;
}

.paginate-total-0 {
  display: none;
}

.phone-emulator {
  --border-color:black;
  --item-color:#333;
  position: relative;
  width: 360px;
  border: 16px var(--border-color) solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.phone-emulator:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--item-color);
  border-radius: 10px;
}

.phone-emulator:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: var(--item-color);
  border-radius: 50%;
}

progress {
  --slider-size:30px;
  min-width: 280px;
  height: 1em;
  border-radius: 0;
  display: flex;
}

progress:after {
  content: attr(value) "%";
  display: inline-block;
  color: gray;
  margin: -4px 0 0 0.5em;
}

progress::-webkit-progress-bar {
  background-color: #dddddd;
}

progress::-webkit-progress-value {
  background-color: var(--color-link);
  transition: width 1s;
}

progress:not([value]) {
  display: block;
  position: relative;
}

progress:not([value]):before {
  content: "";
  display: block;
  width: var(--slider-size);
  background-color: var(--color-link);
  opacity: 0.5;
  animation: progress-waiting 5s infinite;
  height: 100%;
  position: absolute;
}

progress:not([value]):after {
  content: "";
}

@keyframes progress-waiting {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - var(--slider-size));
  }
  100% {
    left: 0;
  }
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  min-height: 50px; /** 避免滚动条过小，影响使用 **/
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.data-table th {
  font-weight: var(--font-bold);
}
.data-table th, .data-table td {
  padding: 0.5em 1em;
  border: 1px solid #cccccc;
}
.data-table tbody tr:nth-child(even) {
  background-color: var(--even-row-background);
}
.data-table tbody tr:hover {
  background-color: var(--even-row-background);
}
.data-table tr:has(.col-chk) {
  height: 1px;
}
.data-table .col-chk {
  height: inherit;
  text-align: center;
  padding: 0;
}
.data-table .col-chk > label {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 0 0.75em;
  box-sizing: border-box;
}
.data-table .col-idx {
  text-align: center;
}
.data-table td.col-num {
  text-align: right;
}

.table-fixed-head,
.table-fixed-footer {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

.table-fixed-head thead,
.table-fixed-footer tfoot {
  position: sticky;
  background-color: rgba(255, 255, 255, 0.7411764706);
  backdrop-filter: blur(2px);
  z-index: var(--fixed-header-zindex);
}

.table-fixed-head thead th,
.table-fixed-footer thead th {
  background: none;
}

.table-fixed-head thead {
  top: -8px;
}

.table-fixed-footer tfoot {
  bottom: -10px;
}

.table-fixed-first-column tr > th:first-child, .fixed-first-column tr > td:first-child {
  position: sticky;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7411764706);
  backdrop-filter: blur(2px);
  z-index: var(--fixed-column-zindex);
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.info-table caption {
  text-align: left;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.6392156863);
  width: 100%;
  position: sticky;
  left: 0;
  top: 0;
  color: black;
  z-index: 1;
  backdrop-filter: blur(2px);
  overflow: hidden;
  border-right: 1rem solid transparent;
  box-sizing: border-box;
  margin: 1rem 0;
}
.info-table caption:before {
  content: "";
  display: inline-block;
  border-bottom: 1px solid #dddddd;
  height: 0;
  width: 0.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.info-table caption:after {
  content: "";
  border-bottom: 1px solid #dddddd;
  width: calc(100% - 1rem);
  position: absolute;
  margin: 1rem 0 0 1rem;
}
.info-table td, .info-table th {
  padding: 0.25em 0.5em;
  text-align: left;
  vertical-align: top;
}
.info-table th {
  width: 5em;
  white-space: nowrap;
}

.info-table ~ .info-table {
  margin-top: 1em;
}

.state-tag {
  background-color: #eeeeee;
  display: inline-block;
  padding: 0.05em 0.5em;
  border-radius: 5px;
  zoom: 0.9;
  white-space: nowrap;
  border: 1px solid #cccccc;
}

.state-tag[data-state=draft] {
  opacity: 0.5;
}

.state-tag[data-state=normal] {
  color: var(--color-link);
}

.state-tag[data-state=disabled] {
  color: gray;
  text-shadow: 1px 1px 1px white;
}

.state-tag[data-state=failure] {
  color: red;
}

.state-tag[data-state=success],
.state-tag[data-state=online] {
  color: green;
}

.nowrap {
  white-space: nowrap;
}

.hide {
  display: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.center {
  text-align: center;
}

/*# sourceMappingURL=default.css.map */
