@charset "UTF-8";

body {padding:0 1em 3em 1em;;}
h1, h2, h3, h4, h5, h6 {margin:0.5em 0;}
h1 {font-size:2rem;}
h2 {font-size:1.6rem;}
h3 {font-size:1.4rem;}
h4 {font-size:1.2rem;}
h5 {font-size:1rem;}
header {margin-bottom:1em; border-bottom:1px solid #ccc; padding-bottom:1em;}
.main-nav {display:flex; gap:1em; flex-wrap:wrap}
.main-nav a {display:block; padding:0.5em 2em; border:1px solid var(--color-link); border-radius:20px}
.main-nav a.active {background-color:var(--color-link); color:white;}

[data-mark-css] {position:relative; outline:1px solid #ddd;}
[data-mark-css]:hover {outline:1px solid green;}
[data-mark-css]:hover:before {background-color:green; color:white;}
[data-mark-css]:before {content:"." attr(class); position:absolute; right:0; top:-2.1em; padding:0.25em 0.5em; background-color:#eee;}