@charset "UTF-8";
@import "element";

//all element [except checkbox]
button,
input[type=submit],
input[type=reset],
input[type=button],
[role=button],
.button{
	@include shape-element;

	min-width:var(--button-min-width);
	text-decoration:none;
	white-space:nowrap;
	padding:0 1em;
	line-height:1;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	color:var(--color-background);
	background-color:var(--color-link);
	border-color:transparent;

	&.button-large{
		font-size:1.1rem;
		padding:0 2em;
	}
	&.button-small{
		font-size:0.8rem;
	}
	&.button-weak{
		background-color:lighten($color-link, 20%);
		color:var(--color-background);
	}
	&[aria-label="Close"],
	&.button-outline{
		background-color:var(--color-background);
		color:var(--color-link);
		border:1px solid var(--color-link)
	}
	&.button-plain{
		color:var(--color-link);
		background-color:transparent;
		border-color:transparent;
		&:hover{
			background-color:var(--color-background);
			border-color:var(--color-link);
		}
	}
	//state
	&:not([disabled]):hover {}
	&:focus{
		outline:none;
		box-shadow:0 0 0 1px var(--color-background), 0 0 0 3px lighten($color-link, 10%);
	}
	&[disabled],
	&.button-disabled{
		@include disabled-element;
	}
}

//button misc
input[type=reset]{
	background-color:lighten($color-link, 20%);
	color:var(--color-background);
}