@charset "UTF-8";

@mixin shape-element {
	box-sizing:border-box;
	font-family:var(--font-family);
	height:var(--element-height);
	border:1px solid var(--element-border-color);
	border-right-color:var(--element-border-right-color);
	border-bottom-color:var(--element-border-bottom-color);
	font-size:1rem;
	vertical-align:middle;
	border-radius:var(--element-border-radius);
	user-select:none;
	transition:all 0.1s linear;
	&:focus {
		outline:none;
		border-color:transparent;
		box-shadow:0 0 0 1px lighten($color-link, 20%), 0 0 0 3px lighten($color-link, 40%);
	}
}