@charset "UTF-8";

//all element [except checkbox]
input:not([type=checkbox], [type=radio], [type=file]),
select,
textarea,
button,
[role=button],
.button{
	box-sizing:border-box;
	font-family:var(--font-family);
	height:var(--element-height);
	border:1px solid var(--element-border-color);
	border-right-color:var(--element-border-right-color);
	border-bottom-color:var(--element-border-bottom-color);
	padding:0 0.5em;
	font-size:1rem;
	vertical-align:middle;
	border-radius:var(--element-border-radius);
	user-select:none;
	transition:all 0.1s linear;
}

//text-field
textarea{
	padding:0.25em 0.5em;
	min-height:calc(var(--element-height) * 2);
	width:calc(var(--text-field-width) * 1.5)
}
input[type=text],
input[type=search],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=date],
input[type=datetime-local],
input[type=time]{
	padding:0 0.5em;
	min-width:var(--text-field-width);
}

::placeholder{
	color:var(--color-placeholder);
}
[disabled]::placeholder,
[readonly]::placeholder{
	color:transparent;
}

//select
select{
	padding-left:0.25em;
	width:var(--text-field-width);
}
select[readonly]{
	pointer-events:none;
}

select[multiple]{
	height:calc(var(--element-height) * 3);
	width:var(--text-field-width);
}

//checkbox
input[type=radio],
input[type=checkbox]{
	vertical-align:middle;
	position:relative;
	bottom:2px;
}

//label with checkbox or radio
label input[type=radio],
label input[type=checkbox]{
	accent-color:var(--color-link);
}

label ~ label{margin-left:0.5em;}

input:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=url]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=time]:focus,
textarea:focus{
	outline:none;
	border-color:transparent;
	box-shadow:0 0 0 2px lighten($color-link, 10%), 0 0 0 4px lighten($color-link, 40%);
}

//button
button,
input[type=button],
input[type=submit],
input[type=reset],
[role=button],
.button{
	padding:0 1em;
	display:inline-flex;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	color:var(--color-background);
	background-color:var(--color-link);
	border-color:transparent;
	min-width:5em;
}

//button focus
button:focus,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
[role=button]:focus,
.button:focus{
	outline:none;
	box-shadow:0 0 0 1px var(--color-background), 0 0 0 3px lighten($color-link, 10%);
}

//button disabled
button[disabled],
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled],
[role=button][disabled],
.button[disabled],
.button-disabled {
	opacity:0.5;
	filter:grayscale(80%);
	cursor:default;
	pointer-events:none;
}

//button misc
body .button-large {
	font-size:1.1rem;
	padding:0 2em;
}

body .button-small {
	font-size:0.8rem;
}

body .button-weak,
input[type=reset] {
	background-color:lighten($color-link, 20%);
	color:var(--color-background);
}

body .button-outline {
	background-color:var(--color-background);
	color:var(--color-link);
	border:1px solid var(--color-link)
}

body .button-plain {
	background-color:var(--color-background);
	color:var(--color-link);
	border-color:transparent;
}
body .button-plain:hover {
	border-color:var(--color-link);
}

