@charset "UTF-8";
@use 'sass:math';

//表单标题效果
.form-caption{
	font-size:1.1rem;
	font-weight:var(--font-bold);
	margin:0.5em 0;
}

//表单说明效果，带有横线，注意caption 不支持该效果
.form-legend:not(caption){
	@extend .form-caption;
	width:100%;
	display:flex;
	white-space:nowrap;
	align-items:center;
	gap:0.5em;

	&:before,
	&:after{
		content:"";
		border-bottom:1px solid var(--color-border-light);
		width:.5em;
	}
	&:after{content:"";
		flex:1;
	}
}

caption{
	@extend .form-caption;
}

legend{
	@extend .form-legend;
}

fieldset ~ fieldset{
	margin-top:2em;
}

table.form-landscape{
	width:100%;
	> tbody{
		> tr:nth-child(even){
			background-color:var(--even-row-background);
		}
		> tr:has(td input) > th{
			line-height:var(--element-height);
		}
		> tr > th{
			width:var(--form-landscape-title-width);
			white-space:nowrap;
			padding:0.5em 1em 0.5em 0.5em;
			vertical-align:top;
		}
		> tr > td{
			padding:0.5em 0;
		}
	}

	> tfoot > tr > td{
		padding-top:1em;
	}
}

table.form-portrait{
	width:100%;
	--text-field-width:100%;
	textarea {
		width:var(--text-field-width);
	}

	> tbody{
		> tr:nth-child(even){
		}
		> tr > th{
			display:block;
			margin-bottom:0.5em;
		}
		> tr > td{
			display:block;
			margin-bottom:1.5em;
		}
	}

	> tfoot > tr > td{
		display:flex;
		padding-top:1em;
		gap:1em;
	}
	> tfoot > tr > td > *{
		flex:1;
	}
}

table.form-filter {
	--text-field-width: #{$text-field-width * 0.7};
	>tbody {
		display:flex;
		flex-wrap:wrap;
		>tr {
			line-height:var(--element-height);
			>th {
				white-space:nowrap;
			}
			display:flex;
			gap:0.5em;
		}
	}
}