/**
 * 菜单面板，结构：ul.menu>li>a|span
 */
.menu{
	padding:0.5em 0;
	min-width:var(--menu-min-width);
	background-color:var(--color-background);
	box-shadow:var(--panel-shadow);
	border-radius:var(--panel-radius);

	> li.sep{
		border-top:1px solid var(--table-cell-border-color);
		opacity:0.5;
		margin:0.25em 0.75em;
	}
	> li > a,
	> li > span{
		display:block;
		cursor:pointer;
		padding:0.35em 1.5em 0.35em 1em;
		white-space:nowrap;
		&:hover{
			background-color:lighten($color, 77%);
			text-shadow:1px 1px 1px white;
		}
	}
}

/**
 * 下拉菜单，结构：ul.menu-dropdown>li>ul
 */
.menu-dropdown{
	--gap:2em;
	--trigger-content:"v";
	--trigger-font-family:"serif";
	--menu-zindex:2;
	--menu-justify-right:inherit; //靠右对齐设置为0，否则设置为inherit
	--menu-justify-left:0; //靠左对齐设置为0，否则设置为inherit

	> li{
		display:flex;
		align-items:center;
		> span{
			white-space:nowrap;
			cursor:default;
		}
		> a{
			white-space:nowrap;
		}
		ul{
			@extend .menu;
			display:none;
			position:absolute;
			z-index:var(--menu-zindex);
			top:100%;
			left:var(--menu-justify-left);
			right:var(--menu-justify-right);
		}
	}

	display:inline-flex;
	gap:var(--gap);

	> li:before{
		content:"";
		height:1.25em;
		border-left:1px solid var(--color-seperator);
		margin-left:calc(var(--gap) * -0.5);
		padding-left:calc(var(--gap) * 0.5);
	}
	> li:first-child:before{
		display:none;
	}

	> li:has(ul){
		position:relative;
		&:after{
			content:var(--trigger-content);
			font-family:var(--trigger-font-family);
			opacity:0.8;
			margin-left:0.5em;
			line-height:1;
		}
		&:hover ul{
			display:block;
		}
	}
}

/**
 * 按钮下拉菜单
 */
.button-dropdown{
	--trigger-content:"v";
	--trigger-font-family:"serif";
	--menu-justify-right:inherit; //靠右对齐设置为0，否则设置为inherit
	--menu-justify-left:0; //靠左对齐设置为0，否则设置为inherit

	display:inline-block;
	position:relative;
	&:after{
		color:var(--color-inverted);
		content:var(--trigger-content);
		font-family:var(--trigger-font-family);
		height:var(--element-height);
		box-sizing:border-box;
		line-height:var(--element-height);
		display:inline-block;
		vertical-align:middle;
		text-align:center;
		right:0.75em;
		position:absolute;
		zoom:0.8;
		margin-top:0.25em;
		pointer-events:none;
	}
	.button{padding-right:1.8em;}

	ul{
		@extend .menu;
		display:none;
		position:absolute;
		left:var(--menu-justify-left);
		right:var(--menu-justify-right);
	}

	&:not(:has([disabled])):hover > ul{display:block;}
	&:not(:has([disabled])):hover:after{transform:rotate(180deg)}
	&:has(.button-outline):after,
	&:has(.button-plain):after{
		color:var(--color-link);
	}
}