.phone-emulator {
	--color-border:black;
	--item-color:#333;
	position: relative;
	width: 360px;
	border: 16px var(--color-border) solid;
	border-top-width: 60px;
	border-bottom-width: 60px;
	border-radius: 36px;
}
.phone-emulator:before {
	content: '';
	display: block;
	width: 60px;
	height: 5px;
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--item-color);
	border-radius: 10px;
}
.phone-emulator:after {
	content: '';
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 50%;
	bottom: -65px;
	transform: translate(-50%, -50%);
	background: var(--item-color);
	border-radius: 50%;
}