progress{--slider-size:30px;min-width:280px;height:1em;border-radius:0;display:flex;}
progress:after{content:attr(value) "%";display:inline-block;color:gray;margin:-4px 0 0 0.5em;}
progress::-webkit-progress-bar{background-color:#dddddd; }
progress::-webkit-progress-value{background-color:var(--color-link);transition:width 1s;}
progress:not([value]){display:block; position:relative;}
progress:not([value]):before{content:"";display:block;width:var(--slider-size);background-color:var(--color-link); opacity:0.5; animation:progress-waiting 5s infinite;height:100%;position:absolute;}
progress:not([value]):after{content:""}
@keyframes progress-waiting{
	0%{left:0;}
	50%{left:calc(100% - var(--slider-size))}
	100%{left:0;}
}