.table-data{
	caption{
		@extend .form-caption;
	}
	th{
		font-weight:var(--font-bold);
	}
	th, td{
		padding:0.5em 1em;
		border:1px solid #dddddd;
	}
	tbody tr:nth-child(even){
		background-color:var(--even-row-background);
	}
	tbody tr:hover{
		background-color:var(--even-row-background);
	}
	tr:has(.col-chk){
		height:1px
	}
	.col-chk{
		width:1em;
		white-space:nowrap;
		height:inherit;
		text-align:center;
		padding:0;
		> label{
			display:flex;
			height:100%;
			width:100%;
			justify-content:center;
			padding:0 .75em;
			box-sizing:border-box
		}
	}
	.col-min,
	.col-op{
		width:1em;
		white-space:nowrap;
	}
	.col-idx{
		text-align:center;
		width:1em;
		white-space:nowrap;
	}
	td.col-num{
		text-align:right;
	}
}

/**
 * 表格固定头部、固定脚步、固定第一栏
 */
.table-fixed-head,
.table-fixed-footer{text-align:left;position:relative;border-collapse:collapse;}
.table-fixed-head thead,
.table-fixed-footer tfoot{position:sticky; background-color:#ffffffbd;backdrop-filter:blur(2px);z-index:var(--fixed-header-zindex);}
.table-fixed-head thead th,
.table-fixed-footer thead th{background:none;}
.table-fixed-head thead{top:-8px}
.table-fixed-footer tfoot{bottom:-10px;}
.table-fixed-first-column tr > th:first-child, .fixed-first-column tr > td:first-child{position:sticky;left:0;background-color:#ffffffbd;backdrop-filter:blur(2px);z-index:var(--fixed-column-zindex);}

/**
 * 表格数据为空时自动填充
 */
.table-empty-fill{
	--placeholder:"- 没有项目 -";
	&:not(:has(tbody tr)){
		position:relative;
		min-height:var(--table-empty-min-height);
	}
	tbody:not(:has(tr)){
		display:block;
		position:absolute;
		width:100%;
		&:after{content:var(--placeholder);
			display:block;
			padding:1em;
			text-align:center;
			opacity:0.5;
		}
	}
}

.info-table{
	width:100%;
	border-collapse:collapse;border-spacing:0;
	caption{
		@extend .form-caption;
	}
	td, th{
		padding:0.25em 0.5em;
		text-align:left;
		vertical-align:top;
	}
	th{
		width:5em;
		white-space:nowrap;
	}
}
.info-table ~ .info-table{margin-top:1em;}