@charset "UTF-8";

:root{
  //color
  --color: #{$color};
  --color-border:#{$color};
  --color-border-light:#{lighten($color, 60%)};
  --color-link:#{$color-link};
  --color-inverted:#{$color-inverted};
  --color-background:#{$color-background};
  --color-placeholder: #{$color-placeholder};
  --color-seperator:#{lighten($color, 60%)};

  --even-row-background: #eeeeee59;

  //font & text
  --font-size:#{$font-size};
  --font-family:#{$font-family};
  --font-code-family:#{$font-code};
  --line-height:#{$line-height};
  --font-bold:#{$font-bold};

  //form element
  --element-actived-color:var(--color-link);
  --element-height:#{$element-height};
  --element-border-color:#{darken($color-background, 40%)};
  --element-border-right-color:#{darken($color-background, 20%)};
  --element-border-bottom-color:#{darken($color-background, 20%)};
  --element-border-radius:#{$element-border-radius};
  --element-focus-border-color:var(--element-actived-color);
  --text-field-width: #{$text-field-width};
  --button-min-width: 0;
  --form-landscape-title-width: 4em;

  --element-disabled-color:#{lighten($color, 20%)};
  --element-disabled-border-color:#{lighten($color, 40%)};
  --element-disabled-backgroud-color:#{lighten($color, 60%)};

  //table
  --fixed-header-zindex:2;
  --fixed-column-zindex:3;
  --table-empty-min-height: 8em;

  //panel
  --table-cell-border-color:#cccccc;
  --panel-shadow:1px 3px 10px #aaaaaa82;
  --panel-radius: var(--element-border-radius);

  //menu
  --menu-min-width: 8em;

  //icon
  --icon-arrow-down: url("data:image/svg+xml;utf8,#{$icon-arrow-down}");
}